@import "var"

.App
  width: 100vw
  height: 100vh
  overflow-y: scroll

  background-color: $bg1
  color: $c1

  &__aside
    width: 100vw
    height: 100vh
    max-width: 450px


    position: fixed
    top: 0
    left: -0%

    z-index: 1

    background-color: $bg6

    @include flex-center

  &__aside.hidden
    left: -100%

  &__main
    width: 100%
    height: 100%

    position: relative
    z-index: 0

    &-placeholder
      position: absolute
      top: calc(50% - 5vh)
      left: calc(50% - 5vh)

    &-placeholder.moved
      left: calc(50% - 5vh + 225px)

@media (min-width: 1000px)
  .App
    display: grid
    grid-template-columns: 450px auto
    &__aside
      position: static

    &__main
      &-placeholder.moved
        left: calc(50% - 5vh)


